<div class="footer flex bg-blueLess md:p-10 xs:p-5 lg:text-base xs:text-xs">
    <div class="footer-item ">
        <div class="footItem1 m-auto">
            <p class="text-blue font-bold lg:text-4xl mb-3 xs:text-xl">Logo</p>
            <ul class="">
                <li class="text-darkGrey"><span class="font-bold">Location:</span> Isr gilrt awam juim</li>
                <li class="text-darkGrey"><span class="font-bold">Contact:</span> +9 5555559909</li>
                <li class="text-darkGrey"><span class="font-bold">Time:</span> (9am - 5pm EST, Monday - Friday)</li>
                <li class="text-darkGrey"><span class="font-bold">Email:</span> youmeRule.com</li>
            </ul>
        </div>
        
    </div>
    <div class="footer-item flex justify-around mt-3">
        <ul>
            <li class="font-bold lg:text-lg xs:text-base mb-2">Company</li>
            <li class="text-darkGrey">Case Studies</li>
            <li class="text-darkGrey">Case Details</li>
            <li class="text-darkGrey">Privacy Policy</li>
            <li class="text-darkGrey">Services</li>
        </ul>

        <ul>
            <li class="font-bold lg:text-lg xs:text-base mb-2">Exlore</li>
            <li class="text-darkGrey">About Us</li>
            <li class="text-darkGrey">Blog And News</li>
            <li class="text-darkGrey">Blog Details</li>
            <li class="text-darkGrey">Pricing</li>
        </ul>
    </div>
</div>