<app-header></app-header>
<div class="section1 h-70 bg-blueLess flex">
<div class="basis-1/2 items-center p-10 place-content-center">
    <span class="items-center">
        <p class="lg:text-6xl sm:text-4xl xs:text-2xl font-bold leading-snug">Take The Worry Out Of Life With <span class="text-blue">Insurance</span> Protection</p>
    <p class="text-grey lg:text-2xl sm:text-base xs:text-sm my-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deserunt iusto reprehenderit eligendi dignissimos quidem
        tenetur sit consequuntur, fuga magni commodi libero ut? Omnis magni odio reprehenderit aspernatur amet voluptates
        nihil iste assumenda, ipsam maxime!</p>
        <div>
            <button class="bg-blue text-white lg:text-base sm:text-sm xs:text-xs border-2 border-blue rounded lg:p-3 sm:p-1 me-3"><i class="fa-solid fa-angle-up fa-rotate-90 me-2" style="color: #ffffff;"></i>Get Started</button>
            <button class="bg-blueLess text-blue lg:text-base sm:text-sm xs:text-xs border-2 border-blue rounded lg:p-3 sm:p-1"><i class="fa-solid fa-location-arrow me-2"></i>Contact Us</button>
        </div>
    </span>
    
</div>
<img src="../assets/img1.png" class="basis-1/2 xs:min-w-1">
</div>

<div class="section2 mt-20">
    <p class="text-center text-blue text-sm font-bold mb-4">OUR FEATURES</p>
    <div class="heading m-auto"><p class=" text-center font-bold lg:text-5xl xs:text-3xl mb-8">Better Digital Insurance Begins Right Here</p></div>
    
    <div class="grid lg:grid-cols-4 md:grid-cols-2  gap-5 ms-10 me-10 flex ">
        <div class="shadow-xl p-5 h-70">
            <img src="../assets/icon1.png">
            <p class="font-bold text-lg">Money Back Guarantee</p>
            <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo obcaecati ab nihil explicabo numquam blanditiis?</p>
        </div>
        
        <div class="shadow-xl p-5">
            <img src="../assets/icon1.png">
            <p class="font-bold text-lg">Money Back Guarantee</p>
            <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo obcaecati ab nihil explicabo numquam blanditiis?</p>
        </div>

        <div class="shadow-xl p-5">
            <img src="../assets/icon1.png">
            <p class="font-bold text-lg">Money Back Guarantee</p>
            <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo obcaecati ab nihil explicabo numquam blanditiis?</p>
        </div>

        <div class="shadow-xl p-5">
            <img src="../assets/icon1.png">
            <p class="font-bold text-lg">Money Back Guarantee</p>
            <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo obcaecati ab nihil explicabo numquam blanditiis?</p>
        </div>
    </div>
</div>

<div class="section3 mt-20">
    <p class="text-center text-blue text-sm font-bold mb-4">INSURANCE SERVICES</p>
    <div class="heading m-auto"><p class=" text-center font-bold lg:text-5xl xs:text-3xl mb-8">Take The Worry Out Of Life With Insurance Protection</p></div>
    
    <div class="grid md:grid-cols-3 xs:grid-cols-1  gap-5 ms-10 me-10 justify-items-center">
        <div class="service relative">
            <div class="imageText bg-blue p-4 text-white rounded opacity-80 absolute bottom-5 left-9">
                <p class="text-xs text-center">INSURANCE <i class="fa-solid fa-circle text-grey"></i> VEHICLE</p>
                <p class="text-lg text-center">Business Insurance</p>
            </div>
        </div>
        
        <div class="service relative">
            <div class="imageText bg-blue p-4 text-white rounded opacity-80 absolute bottom-5 left-9">
                <p class="text-xs text-center">INSURANCE <i class="fa-solid fa-circle text-grey"></i> VEHICLE</p>
                <p class="text-lg text-center">Business Insurance</p>
            </div>
        </div>

        <div class="service relative">
            <div class="imageText bg-blue p-4 text-white rounded opacity-80 absolute bottom-5 left-9">
                <p class="text-xs text-center">INSURANCE <i class="fa-solid fa-circle text-grey"></i> VEHICLE</p>
                <p class="text-lg text-center">Business Insurance</p>
            </div>
        </div>
    </div>
    <p class="text m-auto mt-5 text-center text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure minima modi a debitis suscipit, velit nam? Saepe itaque non in? Iure laudantium dolor sunt doloremque.</p>
</div>

<div class="section4">
    <p class="text-center text-blue text-sm font-bold mb-3 mt-20">READY TO GET STARTED</p>
    <div class="heading m-auto"><p class=" text-center font-bold lg:text-5xl xs:text-3xl mb-5">Get The Latest Insurance News In Minutes</p></div>
    <p class="text m-auto text-center text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure minima modi a debitis suscipit, velit nam? Saepe itaque non in? Iure laudantium dolor sunt doloremque.</p>
    <div class="text-center mt-8 mb-10">
        <input type="email" class="border border-lightGrey rounded p-2" placeholder="Email address">
    <button class="bg-blue text-white p-2 rounded"><i class="fa-solid fa-caret-right me-2" style="color: #ffffff;"></i>Subscribe</button>
    </div>
</div>

<app-footer></app-footer>


